[Unit]
Description=Set transport layer offloads for Tailscale exit node
Requires=network.target
After=network.target

[Service]
ExecStart=/usr/bin/ethtool -K {{ salt["cmd.run"]("ip route show 0/0 | cut -f5 -d' '") }} rx-udp-gro-forwarding on rx-gro-list off
Type=oneshot

[Install]
WantedBy=multi-user.target