[Unit]
Description=Minecraft
Wants=network.target
After=local-fs.target network.target

[Service]
User=minecraft
Group=minecraft

KillMode=none

NoNewPrivileges=true
PrivateDevices=True
PrivateTmp=True
ProtectHome=True
ProtectSystem=full

WorkingDirectory=/srv/minecraft
ExecStart=/usr/bin/java -Xms{{ minecraft.memory }} -Xmx{{ minecraft.memory }} {{ minecraft.java_args }} -jar /srv/minecraft/spigot_current.jar
ExecStop=/usr/local/bin/mcrcon -H 127.0.0.1 -p {{ minecraft.rcon_pass }} stop
SuccessExitStatus=0 1

[Install]
WantedBy=multi-user.target
