[Unit]
Description=Save World to Disk
Requires=save-server.service

[Timer]
OnCalendar=*-*-* *:00/5:00
Persistent=true

[Install]
WantedBy=timers.target
