[Unit]
Description=The snappy web interface for your 3D printer
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=octo
ExecStart=/home/octo/octoprint/venv/bin/octoprint serve

[Install]
WantedBy=multi-user.target
