{% import_yaml "common/defaults.yaml" as defaults %}

{# os specific packages #}
{% set packages = salt['grains.filter_by']({
    "Arch": {
        "bind_tools": "bind-tools",
        "pyyaml": "python-pyaml",
        "pydateutil": "python-dateutil",
    },
    "RedHat": {
        "bind_tools": "bind-utils",
        "pyyaml": "python36-PyYAML",
        "pydateutil": "python36-dateutil",
    },
}) %}

{# do salt['defaults.merge'](defaults['packages'], packages) #}
{% do defaults["common"]["packages"].update(packages) %}

{% set common = salt["pillar.get"]("common", default=defaults["common"], merge=True) %}
