{% import_yaml "common/defaults.yaml" as defaults %}

{# os specific packages #}
{% set packages = salt['grains.filter_by']({
    "Arch": {
        "bind_tools": "bind",
        "python": "python",
        "requests": "python-requests",
        "pyyaml": "python-pyaml",
        "pydateutil": "python-dateutil",
        "python_neovim": "python-pynvim"
    },
    "RedHat": {
        "bind_tools": "bind-utils",
        "python": "python3",
        "requests": "python3-requests",
        "pyyaml": "python3-pyyaml",
        "pydateutil": "python3-dateutil",
        "python_neovim": "python3-neovim"
    },
    "Debian": {
        "bind_tools": "dnsutils",
        "python": "python3",
        "requests": "python3-requests",
        "pyyaml": "python3-yaml",
        "pydateutil": "python3-dateutil",
        "python_neovim": "python3-neovim"
    } 
}) %}

{# do salt['defaults.merge'](defaults['packages'], packages) #}
{% do defaults["common"]["packages"].update(packages) %}


{# merge in pillar #}
{% set common = salt["pillar.get"]("common", default=defaults["common"], merge=True) %}

{# merge in grains for user override #}
{% do common["primary_user"].update(salt["grains.get"]("common:primary_user", {})) %}
